<h1>Dar alta turnos</h1>
  <mat-stepper linear="true" #stepper>
    <mat-step [stepControl]="firstFormGroup">
      <form [formGroup]="firstFormGroup">
        <ng-template matStepLabel>Elija los dias</ng-template>
        <mat-grid-list cols="2" rowHeight="2:1">
        <mat-form-field class="example-full-width">
          <mat-label>Fecha inicio</mat-label>
          <input matInput [matDatepickerFilter]="myFilter" formControlName="start"  [matDatepicker]="picker" >
          <mat-hint>DD/MM/YYYY</mat-hint>
          <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
      </mat-grid-list>
        <mat-form-field class="example-full-width">
          <mat-label>Fecha final</mat-label>
          <input matInput [matDatepickerFilter]="myFilter" [matDatepicker]="picker2" formControlName="end">
          <mat-hint>DD/MM/YYYY</mat-hint>
          <mat-datepicker-toggle matIconSuffix [for]="picker2"></mat-datepicker-toggle>
          <mat-datepicker #picker2></mat-datepicker>
        </mat-form-field>
        <div>
          <button mat-button matStepperNext>Siguiente</button>
        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="range" label="Fill out your address">
      <form [formGroup]="range">
        <ng-template matStepLabel>Elija los horarios</ng-template>
        <mat-grid-list cols="3" rowHeight="2:1">
          <mat-grid-tile>
            <mat-form-field>
              <mat-label>Inicio de la jornada: </mat-label>
                <mat-select [(ngModel)]="horarioInicial" name="food" formControlName="horarioInicial" (selectionChange)="onSelectionChange()">
                    <mat-option *ngFor="let x of horarios" [value]="x">{{x}}</mat-option>
                </mat-select>
            </mat-form-field> 
          </mat-grid-tile>
          <mat-grid-tile>
            <mat-form-field>
              <mat-label>Finalizacion de la jornada: </mat-label>
                <mat-select [(ngModel)]="horarioFinal" name="food" formControlName="horarioFinal" (selectionChange)="calcularHoras()">
                    <mat-option *ngFor="let x of horariosFinales" [value]="x">{{x}}</mat-option>
                </mat-select>
            </mat-form-field>
          </mat-grid-tile>
          <mat-grid-tile>
            <mat-form-field>
              <mat-label>Duracion de cada turno: </mat-label>
                <mat-select [(ngModel)]="duracion" name="food" formControlName="duracion">
                  <mat-option value="0.5">30 min</mat-option>
                    <mat-option value="1">1 Hora</mat-option>
                    <!-- <mat-option value="2">2 Horas</mat-option> -->
                </mat-select>
            </mat-form-field>
          </mat-grid-tile>
        </mat-grid-list>
        <div>
          <button mat-button matStepperPrevious>Atras</button>
          <button mat-button matStepperNext (click)="mostrar()">Siguiente</button>
        </div>
      </form>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Confirmar</ng-template>
      <p>Los turnos son los siguiente:</p>
      <mat-list role="list">
        <mat-list-item role="listitem">Especialidad: {{especialidad}}</mat-list-item>
        <mat-list-item role="listitem">Dias: {{fechaInicial | fecha}} al {{fechaFinal | fecha}}   total dias: {{totaldias}}</mat-list-item>
        <mat-list-item role="listitem">Horario de: {{range.value.horarioInicial}} a {{range.value.horarioFinal}} </mat-list-item>
        <mat-list-item role="listitem">Duracion: {{range.value.duracion}}H </mat-list-item>
        <mat-list-item role="listitem">Horas por dia: {{horas}} </mat-list-item>
      </mat-list>
      <div>
        <button mat-button matStepperPrevious>Atras</button>
        <button mat-button (click)="subir(); stepper.reset() ">Aceptar</button>
      </div>
    </mat-step>
  </mat-stepper>