


.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
 
}

.mat-toolbar{
  // --background: #6a6f8c;
  background:rgba(40,57,101,.9);
  
}
.navbar-list{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-left: -120px;
}

.row{
  display: flex;
  flex-direction: row;
  color: white;
  align-items: center;
  justify-content: center;
}


.mat-menu-item{
  color: white;
}

#salir{
  margin-top: auto;
  color: white !important;
  
}



body{
  background: #545454;
}