<body>
  
<mat-sidenav-container class="sidenav-container">
  <mat-sidenav-content>
    <mat-toolbar color="primary">
    
      <span>Bienvenido: {{usuario['nombre']}}</span>
      <div class="navbar-list">
        <mat-nav-list >
          <button hidden mat-button [matMenuTriggerFor]="menu">Menu</button>
          <mat-menu #menu="matMenu">
          </mat-menu>
          <div class="row">
            <!-- <div>
              <button id="salir" mat-menu-item href="#">Menu principal</button>
            </div> -->
            <div>
              <button id="salir" mat-menu-item routerLink="home">Inicio</button>
            </div>
            <div>
              <button id="salir" mat-menu-item routerLink="turnos">Mis turnos</button>
            </div>
            <div>
              <button id="salir" mat-menu-item routerLink="perfil">Mi Perfil</button>
            </div>
            <div  [hidden]="admin">
              <button id="salir" mat-menu-item routerLink="admin" >Consola Admin</button>
            </div>
            <div class="Salir">
              <button id="salir" mat-menu-item (click)="Salir()">Salir</button>
            </div>
        </div>
      </mat-nav-list>
    </div>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>

</body>