
<mat-stepper #stepper>
  <mat-step >
    <form>
      <ng-template matStepLabel>Elegir la especialidad</ng-template>
      <mat-label>{{textoEspecialidad}}</mat-label>
      <button class="botonEspe" style="border-radius: 60px;" mat-raised-button color="primary" *ngFor="let x of especialidades"(click)="cambiarValorEspecialidad(x['nombre'])">
        <img style="width: 100px;height: 100px;" src="{{x['img']}}" alt="">
      </button>
    </form>
  </mat-step>
  <mat-step  label="Elegir especialista">
    <form >
      <button class="boton" style="border-radius: 60px;" mat-raised-button color="primary" *ngFor="let x of especialistas"(click)="cambiarValorEspecialista(x)">
        <div class="botonEs">
          <img src="{{x['img']}}" alt="">
          {{x['nombre']}}
        </div>
      </button>
      <div>
        <button mat-button matStepperPrevious>Atras</button>
      </div>
    </form>
  </mat-step>

  <mat-step  label="Elegir fecha">
    <form >
      <mat-grid-list cols="15" rowHeight="2:1">
          <mat-grid-tile *ngFor="let x of fechas">
            <button class="boton" mat-raised-button color="primary" (click)="cambiarValorFecha(x)">
              {{x | fecha}}
            </button>
        </mat-grid-tile>
      </mat-grid-list>
      <div>
        <button mat-button matStepperPrevious>Atras</button>
      </div>
    </form>
  </mat-step>
  <mat-step  label="Elegir horario">
    <form >
      <mat-grid-list cols="15" rowHeight="2:1">
        <mat-grid-tile *ngFor="let x of horarios">
          <button class="boton" mat-raised-button color="primary" (click)="cambiarValorHorario(x)">
            {{x | hora}}
          </button>
        </mat-grid-tile>
    </mat-grid-list>
      <div>
        <button mat-button matStepperPrevious>Atras</button>
      </div>
    </form>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Confirmar</ng-template>
    <mat-list role="list">
      <mat-list-item role="listitem">Especialidad: {{textoEspecialidad}}</mat-list-item>
      <mat-list-item role="listitem">Especialista: {{textoEspecialista['nombre']}} {{textoEspecialista['apellido']}}</mat-list-item>
      <mat-list-item role="listitem">Fecha: {{textoFecha | fecha}} </mat-list-item>
      <mat-list-item role="listitem">Horario: {{textoHorario | hora}} </mat-list-item>
    </mat-list>
    <div>
      <button mat-button matStepperPrevious>Atras</button>
      <button mat-button (click)="stepper.reset()">Resetear</button>
      <button mat-raised-button color="primary" (click)="Buscar()">Buscar</button>
    </div>
  </mat-step>
</mat-stepper>


    <div class="mat-elevation-z8" [hidden]="turno">
      <h1>Turnos</h1>
      <table mat-table [dataSource]="dataSource">
    
        <ng-container matColumnDef="doctor">
          <th mat-header-cell *matHeaderCellDef> Doctor </th>
          <td mat-cell *matCellDef="let element"> {{element['doctor']}} </td>
        </ng-container>
    
        <ng-container matColumnDef="especialidad">
          <th mat-header-cell *matHeaderCellDef> Especialidad </th>
          <td mat-cell *matCellDef="let element"> {{element.especialidad}} </td>
        </ng-container>
  
        <ng-container matColumnDef="fecha">
          <th mat-header-cell *matHeaderCellDef> Fecha </th>
          <td mat-cell *matCellDef="let element"> {{element.fecha}} </td>
        </ng-container>
    
        <ng-container matColumnDef="horario">
          <th mat-header-cell *matHeaderCellDef> Horario </th>
          <td mat-cell *matCellDef="let element"> {{element.horario}} </td>
        </ng-container>

        <ng-container matColumnDef="estado">
          <th mat-header-cell *matHeaderCellDef> Estado </th>
          <td mat-cell *matCellDef="let element"> {{element.estado}} </td>
        </ng-container>
  
        <ng-container matColumnDef="tomar">
          <th mat-header-cell *matHeaderCellDef> Tomar </th>
          <td mat-cell *matCellDef="let elemento" >
            <div [hidden]="!VerificarAgregar(elemento)">
              <button mat-icon-button color="primary" (click)="inscribirseTurno(elemento)">
                  <mat-icon>add</mat-icon>
                </button>
            </div>
          </td>
        </ng-container>
  
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    
      <mat-paginator [pageSizeOptions]="[5, 10, 20]"
                     showFirstLastButtons
                     
                     aria-label="Select page of periodic elements">
      </mat-paginator>
    </div>
