
.tile{
    display: flex;
    flex-direction: column;
    // margin-top: -400px;
}

mat-card, mat-list-item{
    margin-bottom: 20px;
}

.lista{
    margin-top: -100px;
}


.test{
    margin-top: -100px;
}

body{
    background: #545454;
}