<h1>Mis Turnos</h1>
<mat-grid-list cols="6" rowHeight="2:1">
  <mat-grid-tile>
    <button mat-raised-button color="primary" (click)="nuevoTurno()">Nuevo turno</button>
  </mat-grid-tile>
  <mat-grid-tile>
    <mat-form-field>
      <mat-label>Seleccione una especialidad</mat-label>
      <mat-select [(value)]="selected" (selectionChange)="onSelectionChange()">
        <mat-option selected value="">Todas</mat-option>
        <mat-option *ngFor="let x of especialidades" [value]="x">{{x}}</mat-option>
      </mat-select>
    </mat-form-field>
  </mat-grid-tile>
  <mat-grid-tile>
    <mat-form-field>
      <mat-label>Seleccione un especialista</mat-label>
      <mat-select [(value)]="selectedEs" (selectionChange)="onSelectionChangeEspecialista()">
        <mat-option selected value="">Todos</mat-option>
        <mat-option *ngFor="let x of especialistas" [value]="x">{{x.nombre}} {{x.apellido}}</mat-option>
      </mat-select>
    </mat-form-field>
  </mat-grid-tile>
  <mat-grid-tile>
    <mat-form-field>
      <mat-label>Seleccione un estado</mat-label>
      <mat-select [(value)]="fil" (selectionChange)="filtro('estado')">
        <mat-option selected value="">Todos</mat-option>
        <mat-option value="libre">Libre</mat-option>
        <mat-option value="a confirmar">A confirmar</mat-option>
        <mat-option value="finalizado">Finalizado</mat-option>
        <mat-option value="Cancelado">Cancelado</mat-option>
      </mat-select>
    </mat-form-field>
  </mat-grid-tile>
  <mat-grid-tile>
    <mat-form-field class="example-full-width">
      <mat-label>Altura</mat-label>
      <input matInput placeholder="Ingrese altura" [(ngModel)]="filA" (change)="filtro('altura')">
    </mat-form-field>
  </mat-grid-tile>
  <mat-grid-tile>
    <mat-form-field class="example-full-width">
      <mat-label>Peso</mat-label>
      <input matInput placeholder="Ingrese peso" [(ngModel)]="filPe" (change)="filtro('peso')">
    </mat-form-field>
  </mat-grid-tile>
  <mat-grid-tile>
    <mat-form-field class="example-full-width">
      <mat-label>Presion</mat-label>
      <input matInput placeholder="Ingrese presion" [(ngModel)]="filP" (change)="filtro('presion')">
    </mat-form-field>
  </mat-grid-tile>
  <mat-grid-tile>
    <mat-form-field class="example-full-width">
      <mat-label>Temperatura</mat-label>
      <input matInput placeholder="Ingrese temperatura" [(ngModel)]="filT" (change)="filtro('temperatura')">
    </mat-form-field>
  </mat-grid-tile>
  <mat-grid-tile>
    <mat-form-field class="example-full-width">
      <mat-label>Clave</mat-label>
      <input matInput placeholder="Ingrese clave" [(ngModel)]="filC" (change)="filtro('clave')">
    </mat-form-field>
  </mat-grid-tile>
  <mat-grid-tile>
    <mat-form-field class="example-full-width">
      <mat-label>Cantidad</mat-label>
      <input matInput type="number" placeholder="Ingrese cantidad" [(ngModel)]="filCant" (change)="filtro('cantidad')">
    </mat-form-field>
  </mat-grid-tile>
</mat-grid-list>



<div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource">
  
      <ng-container matColumnDef="doctor">
        <th mat-header-cell *matHeaderCellDef> Doctor </th>
        <td mat-cell *matCellDef="let element"> {{element['doctor']}} </td>
      </ng-container>
  
      <ng-container matColumnDef="especialidad">
        <th mat-header-cell *matHeaderCellDef> Especialidad </th>
        <td mat-cell *matCellDef="let element"> {{element.especialidad}} </td>
      </ng-container>
  
      <ng-container matColumnDef="estado">
        <th mat-header-cell *matHeaderCellDef> Estado </th>
        <td mat-cell *matCellDef="let element"> {{element.estado}} </td>
      </ng-container>

      <ng-container matColumnDef="fecha">
        <th mat-header-cell *matHeaderCellDef> Fecha </th>
        <td mat-cell *matCellDef="let element"> {{element.fecha | fecha}} </td>
      </ng-container>
  
      <ng-container matColumnDef="horario">
        <th mat-header-cell *matHeaderCellDef> Horario </th>
        <td mat-cell *matCellDef="let element"> {{element.horario}} </td>
      </ng-container>
  
      <ng-container matColumnDef="paciente">
        <th mat-header-cell *matHeaderCellDef> Paciente </th>
        <td mat-cell *matCellDef="let element"> {{element.paciente}} </td>
      </ng-container>

      <ng-container matColumnDef="comentario">
        <th mat-header-cell *matHeaderCellDef> Comentario </th>
        <td mat-cell *matCellDef="let element"> {{element.comentario}} </td>
      </ng-container>

      <ng-container matColumnDef="altura">
        <th mat-header-cell *matHeaderCellDef> Altura </th>
        <td mat-cell *matCellDef="let element"> {{element.altura}} </td>
      </ng-container>

      <ng-container matColumnDef="peso">
        <th mat-header-cell *matHeaderCellDef> Peso </th>
        <td mat-cell *matCellDef="let element"> {{element.peso}} </td>
      </ng-container> 

      <ng-container matColumnDef="temperatura">
        <th mat-header-cell *matHeaderCellDef> Temperatura </th>
        <td mat-cell *matCellDef="let element"> {{element.temperatura}} </td>
      </ng-container>

      <ng-container matColumnDef="presion">
        <th mat-header-cell *matHeaderCellDef> Presion </th>
        <td mat-cell *matCellDef="let element"> {{element.presion}} </td>
      </ng-container>

      <ng-container matColumnDef="clave">
        <th mat-header-cell *matHeaderCellDef> Clave </th>
        <td mat-cell *matCellDef="let element"> {{element.clave}} </td>
      </ng-container>

      <ng-container matColumnDef="cantidad">
        <th mat-header-cell *matHeaderCellDef> Cantidad </th>
        <td mat-cell *matCellDef="let element"> {{element.cantidad}} </td>
      </ng-container>
      <ng-container matColumnDef="cancelar">
        <th mat-header-cell *matHeaderCellDef>Cancelar</th>
        <td mat-cell *matCellDef="let elemento" >
          <div [hidden]="!VerificarCancelar(elemento)">
            <button mat-icon-button color="warn" (click)="Mostrar(elemento)">
                <mat-icon>cancel</mat-icon>
              </button>
            </div>
        </td>
      </ng-container>

      <ng-container matColumnDef="encuesta">
        <th mat-header-cell *matHeaderCellDef>Encuesta</th>
        <td mat-cell *matCellDef="let elemento" >
          <div [hidden]="VerificarEncuesta(elemento)">
            <button mat-icon-button color="primary"(click)="Encuesta(elemento)">
                <mat-icon>edit</mat-icon>
              </button>
            </div>
        </td>
      </ng-container>

      
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="tomarTurnos(row)"></tr>
    </table>
  
    <mat-paginator [pageSizeOptions]="[5, 10, 20]"
                   showFirstLastButtons
                   
                   aria-label="Select page of periodic elements">
    </mat-paginator>
  </div>
<!-- <h1>Tomar Turno</h1> -->
<!-- <app-lista></app-lista> -->